<%- include('./partials/navbar.ejs') %>
    <section class=" parallex-3 py-5">
        <div class=" py-5 text-white  text-center">
            <div class="row  mt-3">
                <div class="col-lg-9 py-3 mt-3 mx-auto about-page">
                    <h1><span>ABOUT</span> PAGE</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- LIFESTYLE START  -->
    <section class=" mt-1 py-5">
        <div class="">
            <div class="l-Heading text-center mt-3">
                <h1 class="section-heading">WE ARE <span>MOTIVATED</span> THE CONTENT WRITER</h1>
                <p class="text-center">A PLACE FOR YOUR FITNESS GOAL OF ATHLETIC-BASED GROUP TRAINING</p>
            </div>
            <div class="row life-row d-flex justify-content-between mt-5 py-2">
                <div class="col-md-5 col-lg-5">
                    <img class="img-fluid fitness-img" src="../images/help.jpg" alt="">
                </div>
                <div class="col-md-7 life-desc">
                    <h6>Hi, WE ARE A<span> BLOGGER TEAM</span> </h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque launtium,
                        Sed ut perspiciatis unde omnis iste natus error sit ueed ut perspiciatis unde omnis iste natus
                        error sit vtotam. error sit ueed ut perspiciatis unde omnis iste natus
                        error sit vtotam.
                    </p><br>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque launtium,
                        Sed ut perspiciatis unde omnis iste natus error sit ueed ut perspiciatis unde omnis iste natus
                        error sit vtotam.
                    </p>
                    <button class="float">READ MORE INFO</button>
                </div>
            </div>
        </div>
    </section>
    <!-- LIFESTYLE END  -->
    <section class="services-container">
        <div class="">
            <h1 class="section-heading">ABOUT OUR TEAM <span> ACHIEVEMENT</span> </h1>
            <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                industry's</p>
            <div class="card-wrapper">
                <div class="card mt-5">
                    <img src="../images/m1.png" alt="">
                    <h2>AMAZING EXPERIENCE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt natus
                        beatae laborum labore, magnam sapiente?</p>
                </div>
                <div class="card mt-5">
                    <img src="../images/m2.png" alt="">
                    <h2>MEDALS WON</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt natus
                        beatae laborum labore, magnam sapiente?</p>
                </div>
                <div class="card mt-5">
                    <img src="../images/m3.png" alt="">
                    <h2>TALENTED</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt natus
                        beatae laborum labore, magnam sapiente?</p>
                </div>
                <div class="card mt-5">
                    <img src="../images/m4.png" alt="">
                    <h2>ADVENTURE ZONE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt natus
                        beatae laborum labore, magnam sapiente?</p>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>