<%- include('./partials/navbar.ejs') %>
    <section class="home" id="home">
        <div class="home-text">
            <h1><span>Make</span>Your Comfort <br /> Is Our <span>Happiness</span> </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nisi, facere nostrum<br> voluptatibus
                distinctio asperiores ratione distinctio asperiores ratione ratione</p>
            <button class="btn1">ABOUT NOW</button>
            <!-- <button class="btn2 mr-1">MORE INFO</button> -->
        </div>
    </section>

    <section class="icons-container">
        <div class="icons">
            <i class="fas fa-home"></i>
            <div class="content">
                <h3>150+</h3>
                <p>Branches</p>
            </div>
        </div>
        <div class="icons">
            <i class="fab fa-accusoft"></i>
            <div class="content">
                <h3>4770+</h3>
                <p>Accusoft</p>
            </div>
        </div>
        <div class="icons">
            <i class="far fa-smile"></i>
            <div class="content">
                <h3>590+</h3>
                <p>Happy users</p>
            </div>
        </div>
        <div class="icons">
            <i class="fas fa-satellite"></i>
            <div class="content">
                <h3>150+</h3>
                <p>Communication</p>
            </div>
        </div>
    </section>

    <section>
        <div class="">
            <h4 class="title">POPULAR BLOG</h4>
            <div class="row">
                <div class="col-md-8 col-lg-8">

                    <% blogs.forEach(blog=> { %>


                        <div class=" full-card">
                            <div class=" row g-0">
                                <div class="col-md-4">
                                    <img class="blog-card-img" src="../images/an.jpg" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <small class="blog-card-heading">LIFESTYLE</small>
                                        <h5 class="card-title">Making time for travel</h5>
                                        <p class="card-text text-elepisis">Lorem ipsum dolor sit amet consectetur,
                                            adipisicing elit. Rem dolorum, debitis delectus voluptatibus, obcaecati quae
                                            minima blanditiis beatae
                                            neque provident commodi voluptate recusandae sed nam perferendis illum, esse
                                            repellendus explicabo excepturi. Accusantium laborum nisi repellat in.
                                        </p>
                                        <a href="">Read more</a>
                                        <div class="optionnal">
                                            <img class="writer-img" src="../images/an.jpg" alt="">
                                            <small class="text-muted float-end">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <!-- <div class=" full-card">
                        <div class=" row g-0">
                            <div class="col-md-4">
                                <img class="blog-card-img" src="../images/an.jpg" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <small class="blog-card-heading">LIFESTYLE</small>
                                    <h5 class="card-title">Making time for travel</h5>
                                    <p class="card-text text-elepisis">Lorem ipsum dolor sit amet consectetur,
                                        adipisicing elit. Rem dolorum, debitis delectus voluptatibus, obcaecati quae
                                        minima blanditiis beatae
                                        neque provident commodi voluptate recusandae sed nam perferendis illum, esse
                                        repellendus explicabo excepturi. Accusantium laborum nisi repellat in. </p>
                                    <a href="">Read more</a>
                                    <div class="optionnal">
                                        <img class="writer-img" src="../images/an.jpg" alt="">
                                        <small class="text-muted float-end">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" full-card">
                        <div class=" row g-0">
                            <div class="col-md-4">
                                <img class="blog-card-img" src="../images/an.jpg" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <small class="blog-card-heading">LIFESTYLE</small>
                                    <h5 class="card-title">Making time for travel</h5>
                                    <p class="card-text text-elepisis">Lorem ipsum dolor sit amet consectetur,
                                        adipisicing elit. Rem dolorum, debitis delectus voluptatibus, obcaecati quae
                                        minima blanditiis beatae
                                        neque provident commodi voluptate recusandae sed nam perferendis illum, esse
                                        repellendus explicabo excepturi. Accusantium laborum nisi repellat in. </p>
                                    <a href="">Read more</a>
                                    <div class="optionnal">
                                        <img class="writer-img" src="../images/an.jpg" alt="">
                                        <small class="text-muted float-end">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" full-card">
                        <div class=" row g-0">
                            <div class="col-md-4">
                                <img class="blog-card-img" src="../images/an.jpg" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <small class="blog-card-heading">LIFESTYLE</small>
                                    <h5 class="card-title">Making time for travel</h5>
                                    <p class="card-text text-elepisis">Lorem ipsum dolor sit amet consectetur,
                                        adipisicing elit. Rem dolorum, debitis delectus voluptatibus, obcaecati quae
                                        minima blanditiis beatae
                                        neque provident commodi voluptate recusandae sed nam perferendis illum, esse
                                        repellendus explicabo excepturi. Accusantium laborum nisi repellat in. </p>
                                    <a href="">Read more</a>
                                    <div class="optionnal">
                                        <img class="writer-img" src="../images/an.jpg" alt="">
                                        <small class="text-muted float-end">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" full-card">
                        <div class=" row g-0">
                            <div class="col-md-4">
                                <img class="blog-card-img" src="../images/an.jpg" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <small class="blog-card-heading">LIFESTYLE</small>
                                    <h5 class="card-title">Making time for travel</h5>
                                    <p class="card-text text-elepisis">Lorem ipsum dolor sit amet consectetur,
                                        adipisicing elit. Rem dolorum, debitis delectus voluptatibus, obcaecati quae
                                        minima blanditiis beatae
                                        neque provident commodi voluptate recusandae sed nam perferendis illum, esse
                                        repellendus explicabo excepturi. Accusantium laborum nisi repellat in. </p>
                                    <a href="">Read more</a>
                                    <div class="optionnal">
                                        <img class="writer-img" src="../images/an.jpg" alt="">
                                        <small class="text-muted float-end">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-4 col-lg-4">
                    <div>
                        <div class="card text-white mt-1">
                            <div class="bg-dark">
                                <img src="../images/an.jpg" class="back-img card-img" alt="..." />
                            </div>
                            <div class="card-img-overlay card-text-in text-center">
                                <h5 class="card-title">I am Card</h5>
                                <p class="text-center">This is a wider card with supporting text below as a natural.
                                </p>
                            </div>
                        </div>
                        <div class="card text-white mt-3 mb-3">
                            <div class="bg-dark">
                                <img src="../images/young (2).jpg" class="back-img card-img" alt="..." />
                            </div>
                            <div class="card-img-overlay card-text-in text-center">
                                <h5 class="card-title">I am Card</h5>
                                <p class="text-center">This is a wider card with supporting text below as a.</p>
                            </div>
                        </div>
                        <h3 class="about">About</h3>
                        <div class="card popular-post-div mx-au mt-4">
                            <div class="popular-post mt-2">
                                <div class="mx-auto">
                                    <img src="../images/an.jpg" alt="" class="img-fluid p-image">
                                </div>
                            </div>
                            <div class="p-p-body mt-3 mx-auto ">
                                <h5 class="text-center intro">Hello! I am Xchng</h5>
                                <p>
                                    Hi, I'm Steven, a Florida native, who left my carrer in corporate wealth
                                    management
                                    six years corporate wealth.Stories is a clean and minimal blog template for
                                    perfect
                                    for writers
                                </p>
                                <span class="icon-class">
                                    <span>Follow me: </span>
                                    <i class="fab fa-facebook custom"></i>
                                    <i class="fab fa-linkedin custom"></i>
                                    <i class="fab fa-twitter-square custom"></i>
                                    <i class="fab fa-pinterest-square printers"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section>
        <div class="parallex py-5 mt-">
            <div class="py-5 text-white text-center">
                <div class="row py-">
                    <div class="col-lg-9 mx-auto parallex-div-text">
                        <h1>The Secret Of <span>Getting Ahead </span> Is Getting Started</h1>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nemo,
                            similique quo
                            nostrum sunt molestiae rem <br> Reprehenderit sed facere ipsum qui maxime.</p>
                        <div class="mt-3">
                            <button class="btn1">ABOUT NOW</button>
                            <button class="btn2 ms-4">MORE INFO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="achive-container">
            <div class=" mt-5 text-center">
                <h1 class="section-heading"><span>TOP BLOGS</span> GALLARY</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                    industry's.standard.<br>
                    since the been when an unknown printer dummy text ever.</p>
                <div class="achive-card-wrapper">
                    <div class="achive-card">
                        <div class="overlay">
                            <span>The Brain Is Wider Than The Sky</span>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit repellat
                                cupiditate ipsam labore?</a>
                        </div>
                        <img src="../images/an.jpg" alt="">
                    </div>
                    <div class="achive-card">
                        <div class="overlay">
                            <span>The Brain Is Wider Than The Sky</span>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit repellat
                                cupiditate ipsam labore?</a>
                        </div>
                        <img src="../images/an.jpg" alt="">
                    </div>
                    <div class="achive-card">
                        <div class="overlay">
                            <span>The Brain Is Wider Than The Sky</span>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit repellat
                                cupiditate ipsam labore?</a>
                        </div>
                        <img src="../images/an.jpg" alt="">
                    </div>
                    <div class="achive-card">
                        <div class="overlay">
                            <span>The Brain Is Wider Than The Sky</span>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit repellat
                                cupiditate ipsam labore?</a>
                        </div>
                        <img src="../images/an.jpg" alt="">
                    </div>
                    <div class="achive-card">
                        <div class="overlay">
                            <span>The Brain Is Wider Than The Sky</span>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit repellat
                                cupiditate ipsam labore?</a>
                        </div>
                        <img src="../images/an.jpg" alt="">
                    </div>
                    <div class="achive-card">
                        <div class="overlay">
                            <span>The Brain Is Wider Than The Sky</span>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit repellat
                                cupiditate ipsam labore?</a>
                        </div>
                        <img src="../images/an.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>