<%- include('./partials/navbar.ejs') %>

    <section class=" parallex-3 py-5">
        <div class=" py-5 text-white  text-center">
            <div class="row  mt-3">
                <div class="col-lg-9 py-3 mt-3 mx-auto about-page">
                    <h1><span>LOGIN</span> PAGE</h1>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="mt-5 col-md-12 col-12 mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img class="img-fluid logimg" src="../images/logg.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-6 mt-5">
                    <div class="form">
                        <form action="/login" method="POST" type="application/x-www-form-urlencoded" class="row g-3">
                            <div class="col-12">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                            <div class="col-12">
                                <input class="reg-btn" type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>