<%- include ('./partials/navbar.ejs') %>

    <section class=" parallex-3 py-5">
        <div class=" py-5 text-white  text-center">
            <div class="row  mt-3">
                <div class="col-lg-9 py-3 mt-3 mx-auto about-page">
                    <h1><span>REGISTRATION</span> PAGE</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img class="img-fluid registerImg" src="../images/reg.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-6 py-5 mt-5">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="fname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="fname" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="lname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lname" placeholder="Last Name">
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>

                        <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>

                        <div class="col-md-6">
                            <label for="mnumber" class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" id="mnumber" placeholder="Mobile Number">
                        </div>
                        <!-- <div class="col-md-6">
                            <label for="age" class="form-label">Age</label>
                            <input type="text" class="form-control" id="age" placeholder="Age">
                        </div> -->
                        <div class="col-12">
                            <button type="submit" class="reg-btn">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include ('./partials/footer.ejs') %>