@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Lato:wght@300;400&family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}

:root {
  --light-color: #2b3032a1;
  --primary-color: #45ccb8;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --text-ternary: #898989;
  --light-background: #f2f2f2;
  --secondary: #070606;
  --Text-color: #000000;
  --Gugi: "Gugi", cursive;
  --Lato: "Lato", sans-serif;
  --Poppins: "Poppins", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  background: #edecea;
}
section {
  padding: 1rem 10%;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--gugi);
}
.logo span {
  color: var(--dark);
  font-family: var(--gugi);
}
.navbar {
  position: relative;
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--Text-color);
  text-decoration: none;
  transition: all 0.4s;
  font-family: var(--gugi);
}
.navbar a:hover {
  color: var(--primary);
}
.home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/an.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home-text h1 {
  font-size: 3.7rem;
  letter-spacing: 0.3rem;
  color: var(--pure);
  font-family: var(--gugi);
  font-weight: bold;
}
.home-text p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--pure);
  font-family: var(--sofia);
  margin: 0.4rem 0 1.8rem;
}
.home-text span {
  color: var(--primary-color);
  font-weight: bold;
}
.link-btn {
  padding: 10px 14px;
  background: var(--Main-color);
  color: #fff;
  border-radius: 0.3rem;
  font-size: 14px;
  text-decoration: none;
}
.link-btn:hover {
  background-color: #8fc53d;
}
.icons-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  cursor: pointer;
}
.icons-container .icons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 0.6rem;
  background: #eee;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.icons-container .icons i {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: 50%;
  background: var(--pure);
  color: var(--primary-color);
  text-align: center;
}
.icons-container .icons .content h3 {
  color: var(--primary-color);
  font-family: var(--gugi);
  font-size: 1.5rem;
}
.icons-container .icons .content p {
  color: var(--primary-color);
  font-family: var(--gugi);
  font-size: 1.5rem;
}
.icons-container .icons:hover {
  background-color: #070606;
}
.icons-container .icons .content p:hover {
  color: var(--pure);
}
.icons-container .icons .content h3:hover {
  color: var(--pure);
}
.title {
  font-family: var(--gugi);
  color: var(--primary-color);
}
.blog-card-heading {
  font-family: var(--gugi);
  color: var(--primary-color);
  font-size: 1rem;
}
.card-title {
  font-family: var(--gugi);
  margin-top: 0.4rem;
}
.card-title + p {
  font-family: var(--roboto);
}
.card-text {
  font-family: var(--roboto);
}
.card-text + a {
  text-decoration: none;
  font-family: var(--gugi);
}
.optionnal small {
  font-family: var(--gugi);
}
.card-img-overlay h5 {
  font-family: var(--gugi);
}
.about {
  font-family: var(--gugi);
}
.intro {
  font-family: var(--gugi);
}
.intro + p {
  font-family: var(--roboto);
}
.icon-class span {
  font-family: var(--gugi);
}
.full-section {
  display: flex;
}
.articles {
  width: 70rem;
  margin-top: 30px;
}
.articles .article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.articles .article .left img {
  width: 400px;
  height: 250px;
  border-radius: 0.4rem;
}
.articles .article .right {
  max-width: 50%;
  margin-left: 2rem;
}
.articles .article .right .date {
  color: #7f7e7e;
}
.articles .article .right .description {
  color: #2d2d2d;
}
.back-img {
  width: 300px;
  height: 280px;
  opacity: 0.5;
  border-radius: 0.1rem;
}
.card-text-in {
  margin-top: 9.5rem;
}
.about-img {
  width: 300px;
  border-radius: 0.5rem;
}
.card-text {
  width: 600px;
}
.post-container {
  display: flex;
  align-items: center;
}
.post-container img {
  width: 100px;
  border-radius: 0.5rem;
}
.post-text {
  margin-left: 15px;
}
.post-text h6 {
  font-family: var(--Gugi);
  color: var(--primary-color);
  /* letter-spacing: 0.1rem; */
}
.fa-calendar-week,
.fa-box {
  color: var(--primary-color);
}
.post-text span {
  margin-left: 0.2rem;
}
.subscribe {
  padding: 6rem 2rem;
  text-align: center;
  background: url(./bg.jpg);
  background-position: center;
  background-size: cover;
}
.subscribe h3 {
  color: black;
  font-size: 2rem;
  font-family: var(--Gugi);
}
.subscribe p {
  color: black;
  font-size: 1.3rem;
  padding: 1rem 0;
}
.subscribe form {
  margin: 1rem auto;
  max-width: 60rem;
  height: 4rem;
  display: flex;
  overflow: hidden;
  border-radius: 5rem;
}
.subscribe form input[type="email"] {
  outline: none;
}
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form input[type="email"] {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #000000;
  text-transform: none;
  padding: 0 2rem;
  border: none;
}
.subscribe form input[type="submit"] {
  height: 100%;
  width: 17rem;
  font-size: 1.7rem;
  color: #000000;
  background: var(--Main-color);
  color: white;
  border: none;
  cursor: pointer;
}
.subscribe form input[type="submit"]:hover {
  background: transparent;
  border: 1px solid white;
  color: black;
}
.blog-card-img {
  width: 100%;
  border-radius: 0.3rem;
}
.card-body {
  width: 100%;
}
.full-card {
  padding: 1rem;
}
.writer-img {
  width: 40px;
  height: 37px;
  border-radius: 100%;
}
.optionnal {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-elepisis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popular-post-div {
  width: 400px;
  padding: 1rem;
}
.p-image {
  width: 400px;
}
.text-center p {
  text-align: justify;
}
.icon-class i {
  font-size: 1rem;
  border-radius: 50%;
  margin: 0.1rem;
  cursor: pointer;
}
.custom {
  color: #0a66c2;
}
.printers {
  color: red;
}
.parallex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/an.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.parallex h1 {
  font-weight: 700;
  font-family: "Gugi", sans-serif;
}
.parallex h1 span {
  color: var(--primary-color);
}
.parallex p {
  font-size: 16px;
  font-family: var(--roboto);
}
.btn1 {
  height: 60px;
  width: 210px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn2 {
  height: 60px;
  width: 210px;
  background-color: #45ccb8;
  outline: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn1:hover {
  background-color: #45ccb8;
  color: white;
  transition: all 0.3s;
  border: none;
}
.btn2:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s;
}
.parallex-div-text .l-Heading h1 {
  font-family: "Gugi", sans-serif;
}
.l-Heading h1 span {
  color: var(--primary);
}
.l-Heading h1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
}

.section-heading {
  font-family: "Gugi", sans-serif;
}
.section-heading span {
  color: var(--primary-color);
  font-family: "Gugi", sans-serif;
}
.section-heading + p {
  color: var(--text-ternary);
}
.achive-container .achive-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.achive-container .achive-card-wrapper .achive-card {
  position: relative;
  height: 300px;
}
.achive-container .achive-card-wrapper .achive-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--pure);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.achive-container .achive-card-wrapper .achive-card:hover .overlay {
  opacity: 0.9;
}
.achive-container .achive-card-wrapper .achive-card .overlay a {
  color: var(--secondary);
  text-decoration: none;
}
.achive-container .achive-card-wrapper .achive-card img {
  height: 100%;
  width: 100%;
}

.about-page {
  height: 50px;
}
.section-heading {
  color: var(--secondary);
  text-align: center;
  font-family: "Gugi", sans-serif;
  margin-bottom: 1rem;
  line-height: 0.5;
}
.section-heading + p {
  text-align: center;
  color: var(--text-ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem;
}
.section-heading span {
  color: var(--primary);
}
footer {
  background-color: #070606;
  color: white;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-family: "Gugi", sens-serif;
  color: var(--primary);
  padding-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}
.footer-bottom {
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* ============= ABOUT ============== */

.parallex-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/an.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallex-3 h1 {
  font-weight: 700;
  font-family: "Gugi", sans-serif;
}
.parallex-3 h1 span {
  color: var(--primary-color);
  font-family: "Gugi", sans-serif;
}
.life-desc span {
  color: var(--primary-color);
}
/* <------ACHIVE------> */

.section-heading {
  font-family: "Gugi", sans-serif;
}
.section-heading span {
  color: var(--primary-color);
}
.section-heading + p {
  color: var(--text-ternary);
}

.l-Heading h1 {
  font-family: "Gugi", sans-serif;
}
.l-Heading h1 span {
  color: var(--primary);
}
.l-Heading h1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
}
.life-desc h6 {
  font-family: "Gugi", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.life-desc h6 span {
  color: var(--primary);
  font-family: "Gugi", sans-serif;
}
.life-desc p {
  /* margin-top: 50px; */
  font-family: var(--roboto);
  letter-spacing: 0.1em;
  color: var(--text-ternary);
}
.life-desc button {
  height: 50px;
  width: 210px;
  background-color: #45ccb8;
  outline: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-top: 1rem;
}
.life-desc button:hover {
  background: transparent;
  color: black;
  border: 2px solid var(--secondary);
}

.achive-container .achive-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.achive-container .achive-card-wrapper .achive-card {
  position: relative;
  height: 300px;
}
.achive-container .achive-card-wrapper .achive-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--pure);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.achive-container .achive-card-wrapper .achive-card:hover .overlay {
  opacity: 0.9;
}

.achive-container .achive-card-wrapper .achive-card .overlay a {
  color: var(--secondary);
  text-decoration: none;
}
.achive-container .achive-card-wrapper .achive-card img {
  height: 100%;
  width: 100%;
}

.about-page {
  height: 50px;
}

.section-heading {
  color: var(--secondary);
  text-align: center;
  font-family: "Gugi", sans-serif;
  margin-bottom: 1rem;
  line-height: 0.5;
}
.section-heading + p {
  text-align: center;
  color: var(--text-ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem;
}
.section-heading span {
  color: var(--primary);
  font-family: "Gugi", sans-serif;
}
.mission h3 {
  font-size: 1.2rem;
  font-family: var(--Roboto);
}

.services-container {
  margin-top: 2rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}
.card-wrapper .card {
  background-color: var(--pure);
  padding: 3rem 2rem;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card-wrapper .card img {
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary);
  border-radius: 6px;
}
.card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.card-wrapper .card p {
  font-family: "Lato", sans-serif;
  color: var(--text-ternary);
  line-height: 1.6;
}

.card-wrapper .card:hover {
  background-color: var(--dark);
}
.card-wrapper .card:hover h2,
.card-wrapper .card:hover p {
  color: var(--pure);
}
.achievement img {
  width: 17rem;
  height: auto;
  margin-right: 0.7rem;
}

/*==================CONTACT STYLE==============*/

.parallex-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/an.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallex-3 h1 {
  font-weight: 700;
  font-family: "Gugi", sans-serif;
}
.parallex-3 h1 span {
  color: var(--primary-color);
  font-family: "Gugi", sans-serif;
}
.life-desc span {
  color: var(--primary-color);
}
.form {
  margin-top: 60px;
}
.form textarea:focus {
  outline: none;
}
textarea {
  border: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
}

.reg-btn {
  width: 100%;
  margin-top: 1rem;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}
.reg-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
/* ========= LOGIN =========== */

.logimg {
  width: 500px;
}
/* ============== Popular Blog ================= */

.parallex-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/an.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50vh;
  /* background-attachment: fixed; */
}
.parallex-1 h1 {
  font-weight: 700;
  font-family: "Gugi", sans-serif;
}
.parallex-1 h1 span {
  color: var(--primary-color);
  font-family: "Gugi", sans-serif;
}
.parallex-1 p {
  /* font-size: 14px; */
}

img {
  border-radius: 1rem;
}

.btn1 {
  height: 60px;
  width: 210px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn2 {
  height: 60px;
  width: 210px;
  background-color: #45ccb8;
  outline: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #45ccb8;
  color: white;
  transition: all 0.3s;
  border: none;
}
.btn2:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s;
}

.l-Heading h1 span {
  color: var(--primary);
}
.l-Heading h1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
}
textarea:focus {
  outline: none;
}
.read-blog {
  width: 50%;
  height: 600px;
}
.text-style {
  text-align: justify;
}
